.banner {background-color: #f1f1f1;
    .container { 
        .left {padding-top: 120px;
            padding-bottom: 20px;
            @media(max-width:768px){
                padding-top: 90px;
                padding-bottom: 90px;
            }
            h1 {
                font-size:36px;
                @media(max-width:380px){
                    font-size:28px;
                }  
            }
            p {
                font-size:16px;
                color: #666666;
                @media(max-width:400px){
                    font-size:14px;
                }
            }
            a {
                color: white;
                background-color: #0099ff;
                padding: 5px 5px;
                text-decoration: none;
                border-radius: 8px;

            }
        }
        .right {
            img {
               max-width: 100%;
            }
        }
    }
}