header {background-color: #2e2e2e;
    .container {
        
        
.left {
    a{
        text-decoration: none;
        color: #9f9f9f;
        font-size: 12px;
    }
    .item1{
        margin-left: 10px;
    }
   
}








        .right {
            a{
                i {
                    border:#787878 10px solid;
                    border-radius: 50%;
                    text-decoration: none;
                    color:white;
                    background-color:#787878;
                    margin-right: 7px;
                    font-size: 12px;

                }
.items:last-child {
    margin-right: 0px;
}
    i:hover{
        border:#db4a39 10px solid;
        background-color:#db4a39;
    }           

                
            }
        }
    }
}