nav {
    .container {
      .item8{
          color: #9f9f9f!important;
          border-bottom: 4px solid #f1f1f1;
      }
      .item{
        border-bottom: 4px solid #f1f1f1;
      }
      .item1{
        border-bottom: 4px solid #f1f1f1;
      }
      .item2{
        border-bottom: 4px solid #f1f1f1;
      }
      .item3{
        border-bottom: 4px solid #f1f1f1;
      }
      .item4{
        border-bottom: 4px solid #f1f1f1;
      }
      .item5{
        border-bottom: 4px solid #f1f1f1;
      }
      .item6{
        border-bottom: 4px solid #f1f1f1;
      }
       
      .item:hover{
          color: #9f9f9f!important;
          border-bottom: 4px solid #0099ff;
      }
      .item1:hover{
          color: #9f9f9f!important;
          border-bottom: 4px solid #0099ff;
      }
      .item2:hover{
          color: #9f9f9f!important;
          border-bottom: 4px solid #0099ff;
      }
      .item3:hover{
          color: #9f9f9f!important;
          border-bottom: 4px solid #0099ff;
      }
      .item4:hover{
          color: #9f9f9f!important;
          border-bottom: 4px solid #0099ff;
      }
      .item5:hover{
          color: #9f9f9f!important;
          border-bottom: 4px solid #0099ff;
      }
      .item6:hover{
          color: #9f9f9f!important;
          border-bottom: 4px solid #0099ff;
      }
      .item8:hover{
          color: #9f9f9f!important;
          border-bottom: 4px solid #0099ff;
      }

        
    }
}