.third{
    .container{
        .left{
            img{
                max-width: 100%;
            }
 
        }
.right {
    h4{
        color: #0099ff;
        font-size: 16px;
    }
    p {
        color: #666666;
        font-size:13px;
    }
}
    }
}