header {
  background-color: #2e2e2e;
}

header .container .left a {
  text-decoration: none;
  color: #9f9f9f;
  font-size: 12px;
}

header .container .left .item1 {
  margin-left: 10px;
}

header .container .right a i {
  border: #787878 10px solid;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  background-color: #787878;
  margin-right: 7px;
  font-size: 12px;
}

header .container .right a .items:last-child {
  margin-right: 0px;
}

header .container .right a i:hover {
  border: #db4a39 10px solid;
  background-color: #db4a39;
}

nav .container .item8 {
  color: #9f9f9f !important;
  border-bottom: 4px solid #f1f1f1;
}

nav .container .item {
  border-bottom: 4px solid #f1f1f1;
}

nav .container .item1 {
  border-bottom: 4px solid #f1f1f1;
}

nav .container .item2 {
  border-bottom: 4px solid #f1f1f1;
}

nav .container .item3 {
  border-bottom: 4px solid #f1f1f1;
}

nav .container .item4 {
  border-bottom: 4px solid #f1f1f1;
}

nav .container .item5 {
  border-bottom: 4px solid #f1f1f1;
}

nav .container .item6 {
  border-bottom: 4px solid #f1f1f1;
}

nav .container .item:hover {
  color: #9f9f9f !important;
  border-bottom: 4px solid #0099ff;
}

nav .container .item1:hover {
  color: #9f9f9f !important;
  border-bottom: 4px solid #0099ff;
}

nav .container .item2:hover {
  color: #9f9f9f !important;
  border-bottom: 4px solid #0099ff;
}

nav .container .item3:hover {
  color: #9f9f9f !important;
  border-bottom: 4px solid #0099ff;
}

nav .container .item4:hover {
  color: #9f9f9f !important;
  border-bottom: 4px solid #0099ff;
}

nav .container .item5:hover {
  color: #9f9f9f !important;
  border-bottom: 4px solid #0099ff;
}

nav .container .item6:hover {
  color: #9f9f9f !important;
  border-bottom: 4px solid #0099ff;
}

nav .container .item8:hover {
  color: #9f9f9f !important;
  border-bottom: 4px solid #0099ff;
}

.banner {
  background-color: #f1f1f1;
}

.banner .container .left {
  padding-top: 120px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .banner .container .left {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.banner .container .left h1 {
  font-size: 36px;
}

@media (max-width: 380px) {
  .banner .container .left h1 {
    font-size: 28px;
  }
}

.banner .container .left p {
  font-size: 16px;
  color: #666666;
}

@media (max-width: 400px) {
  .banner .container .left p {
    font-size: 14px;
  }
}

.banner .container .left a {
  color: white;
  background-color: #0099ff;
  padding: 5px 5px;
  text-decoration: none;
  border-radius: 8px;
}

.banner .container .right img {
  max-width: 100%;
}

.third .container .left img {
  max-width: 100%;
}

.third .container .right h4 {
  color: #0099ff;
  font-size: 16px;
}

.third .container .right p {
  color: #666666;
  font-size: 13px;
}

.bannerdown .container {
  padding: 20px 30px;
  background-color: #e0e0e0;
  border-left: 10px solid #0099ff;
  border-right: 10px solid #0099ff;
}

.bannerdown h1 {
  font-size: 36px;
}

@media (max-width: 1000px) {
  .bannerdown h1 {
    font-size: 25px;
  }
}

@media (max-width: 538px) {
  .bannerdown h1 {
    font-size: 18px;
  }
}

@media (max-width: 538px) {
  .bannerdown h1 {
    font-size: 14px;
  }
}

.bannerdown h5 {
  font-size: 18px;
}

@media (max-width: 1000px) {
  .bannerdown h5 {
    font-size: 12px;
  }
}

@media (max-width: 538px) {
  .bannerdown h5 {
    font-size: 9px;
  }
}

@media (max-width: 538px) {
  .bannerdown h5 {
    font-size: 7px;
  }
}

.bannerdown a {
  text-decoration: none;
  font-size: 26px;
  color: #d7c4c4;
  background-color: #0099ff;
  padding: 10px 15px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .bannerdown a {
    font-size: 15px;
    padding: 10px 10px;
  }
}

@media (max-width: 538px) {
  .bannerdown a {
    font-size: 10px;
    padding: 5px 7px;
  }
}

@media (max-width: 538px) {
  .bannerdown a {
    font-size: 8px;
    padding: 5px 6px;
  }
}

footer {
  background-color: #1a1a1a;
}

footer .container .FIRST p {
  font-size: 12px;
  margin-top: 5px;
  color: #666666;
}

footer .container .FIRST a {
  text-decoration: none;
  font-size: 12px;
  color: #666666;
}

footer .container .FIRST h5 {
  color: white;
  font-size: 12px;
}

footer .container .SECOND h5 {
  font-size: 12px;
  color: #ffffff;
}

footer .container .SECOND ul {
  list-style: none;
}

footer .container .SECOND ul li::before {
  content: "\2022";
  color: #989898;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
}

footer .container .SECOND li {
  margin-bottom: 5px;
}

footer .container .SECOND li a {
  text-decoration: none;
  border-bottom: 2px solid #232323;
  font-size: 12px;
}

footer .container .THIRD h5 {
  font-size: 12px;
  color: white;
}

footer .container .THIRD h6 {
  color: #666666;
  font-size: 14px;
}

footer .container .THIRD a {
  text-decoration: none;
  font-size: 12px;
}

footer .container .THIRD p {
  font-size: 10px;
  color: #666666;
}

footer .container .FOURTH h6 {
  color: white;
  font-size: 12px;
}

footer .container .FOURTH input {
  background-color: #232323;
  margin-top: 10px;
  border: none;
  padding: 5px 8px;
}

footer .container .FOURTH ::-webkit-input-placeholder {
  color: #989898;
}

footer .container .FOURTH :-ms-input-placeholder {
  color: #989898;
}

footer .container .FOURTH ::-ms-input-placeholder {
  color: #989898;
}

footer .container .FOURTH ::placeholder {
  color: #989898;
}

footer .container .FOURTH textarea {
  background-color: #232323;
  margin-top: 10px;
  padding: 5px 8px;
}

footer .container .FOURTH a {
  text-decoration: none;
  padding: 5px 8px;
  background-color: #0099ff;
  border-radius: 5px;
  color: white;
  font-size: 12px;
}

footer .paraaa {
  color: #666666;
  font-size: 12px;
}

footer .paraa2 {
  color: #666666;
  font-size: 12px;
}

footer .rw {
  background-color: #222222;
  padding: 10px 20px;
  border-top: 2px solid #444444;
  margin-bottom: -20px;
}
/*# sourceMappingURL=main.css.map */